:root {
  --commandLineHeight: 31px;
  --promptHeight: 31px;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body {
	font: 18px retro;
	color: white;
}

html, body, #outer {
    height: 100%;
    width: 100%;
    margin: auto;
}


.messageLogContainer {  
	height: 100%;
	width:100%;
	background-color: black;	
	position:fixed;
}

#messageLog {  
	list-style-type: none;
	padding: 0;
	margin: 0;
	height:100%;
	width:100%;
	height: calc(100% - var(--commandLineHeight));
	bottom:var(--commandLineHeight);
	overflow-y:scroll;
	overflow-x:hidden;
	white-space: pre-wrap;
	word-break: break-all;
	display: flex;
 	flex-direction: column-reverse;
	white-space: pre-wrap;
}

#messageLog li { 
	padding: 5px 10px;
	width: 100%;
	display: inline-block;
	white-space:pre-wrap;
}

#messageLog li:nth-last-child(odd) { 
	background: #0b0b0b
}

.commandLineContainer {
	height: var(--commandLineHeight);
	width: 100%;
	background-color: white;
	position: fixed;
	bottom: 0px;
	font: 16px retro;
}

#commandLine { 
	background-color: black;
	color: white;
	border: 0px;
	padding: 5px;
	width: 100%;
	height: calc(100% - 1px);
	top: 1px;
	position: relative;
	font: 16px retro;
}

.promptContainer {  
	height: calc(var(--promptHeight));
	width: 100%;
	background-color: orange;	
	position: fixed;
	bottom:calc(var(--commandLineHeight) - var(--promptHeight))
}

#prompt {  
	background-color: black;
	color: white;
	border: 0;
	padding: 5px 10px;
	width: calc(100% - 2px);
	height: calc(100% - 1px);
	top: 1px;
	left: 1px;
	position: relative;
	line-height: calc(100% + 7px);
}



@keyframes openPrompt {
  from   {bottom:calc(var(--commandLineHeight) - var(--promptHeight))}
  to  {bottom:var(--commandLineHeight)}
}

@keyframes closePrompt {
  from  {bottom:var(--commandLineHeight)}
  to   {bottom:calc(var(--commandLineHeight) - var(--promptHeight))}
}

@keyframes openPromptMessageLog {
  from  {
  		bottom:var(--commandLineHeight);
  		height:calc(100% - var(--commandLineHeight))
  	}
  to  	{
  		bottom:calc(var(--commandLineHeight) + var(--promptHeight));
  		height:calc(100% - var(--commandLineHeight) - var(--promptHeight))
  	}
}

@keyframes closePromptMessageLog {
  from 	{
  		bottom:calc(var(--commandLineHeight) + var(--promptHeight));
  		height:calc(100% - var(--commandLineHeight) - var(--promptHeight))
  	}
  to 	{
  		bottom:var(--commandLineHeight);
  		height:calc(100% - var(--commandLineHeight))
  	}
}


form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

@font-face {
    font-family: "retro";
    src: url("/font/ShareTechMono-Regular.ttf");
}